<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
	backupGlobals="true"
	backupStaticProperties="false"
	cacheDirectory=".phpunit.cache"
	cacheResult="false"
	colors="true"
	displayDetailsOnIncompleteTests="true"
	displayDetailsOnSkippedTests="true"
	displayDetailsOnTestsThatTriggerDeprecations="true"
	displayDetailsOnTestsThatTriggerErrors="true"
	displayDetailsOnTestsThatTriggerNotices="true"
	displayDetailsOnTestsThatTriggerWarnings="true"
	processIsolation="false"
	requireCoverageMetadata="false"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	stopOnRisky="false"
	testdox="true"
	timeoutForSmallTests="1"
	timeoutForMediumTests="10"
	timeoutForLargeTests="60"
	>
	<coverage/>
	<php>
		<ini
			name="display_errors"
			value="true"/>
	</php>
	<source/>
	<testsuites>
		<testsuite name="all">
			<file>UnitTests.php</file>
		</testsuite>
	</testsuites>
</phpunit>
